<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <div id="page">
        <div class="note-page">
            <%- include ("../partials/nav.ejs") %>
            <main>
                <section class="welcome m-2">

                    <article>
                        <% notes.forEach(note =>{    %>
                        <div class="card mt-3">
                            <div class="card-body">
                                <!-- <div class="card mt-3"> -->
                                <h4 class="card-title">
                                    <b>Title</b><br><%= note.title %>
                                </h4>

                                <div class="card-subtitle">
                                    <h2><b>Snippet:</b></h2><br>
                                    <%=note.snippet %>
                                </div>

                                <div class="card-text">
                                    <h4><b>Body:</b></h4>
                                    <br>
                                    <p><%= note.body %></p>
                                </div>

                                <div class="mb-2 d-flex d-inline">

                                    <form action="/notes/<%=note.id %>?_method=PUT" method="POST">
                                        <button class="btn btn-primary">Edit</button>
                                    </form>

                                    <form action="/notes/<%=note.id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger mx-3" type="submit">Delete</button></form>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                        <% })%>
                    </article>
                </section>
            </main>

            <%-include("../partials/footer.ejs") %>
        </div>

    </div>
</body>

</html>